/*Css for HomePage goes here*/
.signup-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    scroll-behavior: smooth;
    background-color: burlywood;
}
header{
   
    background-color: aliceblue;
}
main{
    /*flex-grow in sign-page*/
    flex-grow: 1;

    /*setup display flex for this main*/
    display: flex;
    flex-direction: column;
    
    background-color: lavender;
}
footer{
    
    background-color: lemonchiffon;
}
