/*Css for MainSigninPage goes here*/
.main-content{
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}