/******************************/
/******************************/
/******************************/
/*Css for SignupForm goes here*/
.signup-form-div-step1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: silver;
    margin: auto;
}
.email-error-step1, .password-error-step1, .retype-password-error-step1, .waiting-status-step1{
    text-align: center;
    font-size: 10px; 
}
.email-input-step1, .password-input-step1, .retype-password-input-step1{
    height: 20pt;
}
.signup-button-step1{
    height: 20pt;
}
.sign-in-step1{
    margin-top:5pt;
    text-align: center;
    font-size: 10px;
}

/******************************/
/*Css for sign up form step 2*/
.signup-form-div-step2{
    width: 50%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: auto;
}
.signup-error-step2, .time-step2{
    text-align: center;
    font-size: 10px; 
}

.inform-text-step2{
    text-align: center;
    font-size: 20px; 
}

.send-again-button-step2{
    height: 20pt;
    width: 20%;
    min-width: 100px;
}
/******************************/
/*Css for sign up form step 3*/
.signup-form-div-step3{
    width: 30%;
    margin: auto;
    background-color: lightcyan;
}
/*Css for pick image form*/
.signup-form-inner-div-step3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: silver;
    margin: auto;
    z-index: 1;
}
.signup-error-step3, .username-error-step3{
    text-align: center;
    font-size: 10px; 
}

.user-name-input-step3{
    height: 20pt;
}

.pick-profile-image-div-step3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.picked-profile-image-step3{
    width: 40%;
    height: 40%;
}
.pick-profile-image-button{
    height: 20pt;
    min-width: 100px; ;
}
.signup-button-step3{
    margin-top: 5%;
    height: 20pt;
    min-width: 100px;
}
.back-button-step3{
    margin-top: 5%;
    height: 20pt;
    min-width: 100px;
}

/*Css for crop Image form*/
.crop-image-div-step3{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: aliceblue;
    z-index: 2;
}

.image-canvas-step3{
    position: absolute;
    background-color:darkorange;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.image-canvas-mask-step3{
    position: absolute;
    background-color:transparent;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.control-button-div-step3{
    position: absolute;
    width: 25%;
    float: left;
    top: 5%;
    left: 5%;
    z-index: 3;
    background-color:lemonchiffon;
}
.signup-done-button-step3{
    height: 20pt;
    margin-top: 5%;
}
.done-button-step3{
    margin-left: 10%;
    width: 40%;
    height: 20pt;
}
.cancel-button-step3{
    width: 40%;
    height: 20pt;
}   

/*************************************/
/*************************************/
/*************************************/
/* For Tablet portrait to standard 1030*/
@media only screen and (max-width: 1030px){
.signup-form-div-step1{
    width: 50%;
}
.signup-form-div-step2{
    width: 60%; 
}
.signup-form-div-step3{
    width: 50%;
}
.image-canvas-step3{
    width: 70%;
    height: 50%;
}
.image-canvas-mask-step3{
    width: 70%;
    height: 50%;
}
}

/*************************************/
/*************************************/
/*************************************/
@media only screen and (max-width: 800px){
.signup-form-div-step1{
    width: 70%;
}
.signup-form-div-step2{
    width: 70%; 
}
.signup-form-div-step3{
    width: 70%;
}
.image-canvas-step3{
    width: 70%;
    height: 30%;
}
.image-canvas-mask-step3{
    width: 70%;
    height: 30%;
}
}

/*************************************/
/*************************************/
/*************************************/
@media only screen and (max-width : 479px){
.signup-form-div-step1{
    width: 90%;
}

.signup-form-div-step2{
    width: 90%; 
}
.signup-form-div-step3{
    width: 90%;
}
.image-canvas-step3{
    width: 90%;
    height: 30%;
}
.image-canvas-mask-step3{
    width: 90%;
    height: 30%;
}
}