/*Css for HomePage goes here*/
.signin-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: burlywood;
}
header{
    flex-shrink: 0;
    background-color: aliceblue;
}
main{
    flex: 1;
    background-color: lavender;
}
footer{
    flex-shrink: 0;
    background-color: lemonchiffon;
}
